name: tests

on:
  push:
    branches-ignore:
      - 'gh-pages'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python {% raw %}${{ matrix.python-version }}{% endraw %}
      uses: actions/setup-python@v2
      with:
        python-version: {% raw %}${{ matrix.python-version }}{% endraw %}
    - name: Install test dependencies
      run: |
        ./install-test.sh
    - name: Install dev versions of Arpeggio and textX
      run: |
        cd ..
        git clone --depth=1 --branch=master git://github.com/textX/Arpeggio.git
        pip uninstall -y Arpeggio
        cd Arpeggio && python setup.py install
        cd ..
        git clone --depth=1 --branch=master git://github.com/textX/textX.git
        cd textX && python setup.py install
        cd ../{{project_name}}
    - name: Run unit tests
      run: |
        ./runtests.sh
    - name: Coveralls
      env:
        COVERALLS_REPO_TOKEN: {% raw %}${{ secrets.COVERALLS_REPO_TOKEN }}{% endraw %}
      run: |
        coveralls
